[program:{{app_name}}]
user = gymer_deploy
command = {{deploy_directory}}/{{app_name}} -env {{env}} -port {{port}}
autostart   = true
autorestart = true
stderr_logfile = /var/log/{{app_name}}.err.log
stdout_logfile = /var/log/{{app_name}}.out.log